{{>layout/header}}
	<h1>숨고 웹 서비스</h1>
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<a href="/posts" class="btn btn-success active" role="button">게시판 가기</a>
			</div>
			<div class="col-md-6">
				{{#username}}
					<a href="/logout" class="btn btn-danger active" role="button">로그아웃</a>
					Logged in as: <span>{{username}}</span>
				{{/username}}
				{{^username}}
					<a href="/loginForm" class="btn btn-success active" role="button">로그인</a>
					<a href="/joinForm" class="btn btn-primary btn-lg btn-block active" role="button">회원가입</a>
				{{/username}}
			</div>
		</div>
	</div>
{{>layout/footer}}