<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springlesson.posts.repository.PostRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into posts values (#{id}, #{title}, #{contents}, #{author})
    </insert>

    <update id="update">
        update posts
        set title = #{title},
            contents = #{contents}
        where id = #{id}
    </update>

    <select id="findById" resultType="com.example.springlesson.posts.domain.dto.PostResponseDto">
        select
            id, title, contents, author
        from posts
        where id = #{id}
    </select>

</mapper>